/* Button styles */
.button {
  width: 100%;
  background: none;
  color: var(--main-dark-color);
  border: 1px solid var(--main-dark-color);
  outline: none;
  margin: 0 0 20px 0;
}

.button:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.button:active {
  color: var(--main-dark-color);
  border-color: var(--main-dark-color);
}

.button:focus {
  outline: none;
  box-shadow: none;
}

/* Post container styles */
.postContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  text-align: start;
  background-color: var(--main-light-color);
}

/* Header styles */
.containerHeader {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-column: 1 / -1;
  gap: 10px;
  padding: 0 20px;
  background-color: var(--secondary-color);
}

.headerItem,
.headerPostTitle {
  margin: 0;
  height: 100%;
}

.headerItem:nth-child(1) {
  grid-column: 1 / 2;
}
.headerItem:nth-child(2) {
  grid-column: 2 / 3;
}

.headerPostTitle {
  grid-column: 3 / -1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

/* Post body styles */
.postBody {
  grid-column: 1 / -1;
  height: 100%;
  margin: 0;
  padding: 20px;
}
